.imgPrincipal{
    width: 20vh;
    border-style:solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: black;
    margin: 10px;
}

.logoTitle{
    width: 100% ;
    opacity: calc(0.85);
}

.logoTxt{
    font-weight:bolder;
}